@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');

/*
font-family: 'Poppins', sans-serif;
*/
html {
    scrollbar-width: none !important;
  }


.categories-container{
    transition: 2s;
    width: 100vw;
    height: 600px;
    overflow-y: scroll;
}

.category-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 300px;
    background-color: #fff;
}
.back-button{
    width: 50px;
    height: 50px;
    position: fixed;
    top: 55px;
    left: 25px;
}
.category-name-title{
    width: 100vw;
    height: 60px;
    position: fixed;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.category-name-title > div{
    width: auto;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 24px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(220, 220, 220, 0.75);
    -moz-box-shadow: 0px 1px 2px 0px rgba(220, 220, 220, 0.75);
    box-shadow: 0px 1px 2px 0px rgba(220, 220, 220, 0.75);
}
#category-name-text{
    background: linear-gradient(180deg, rgba(179, 18, 76, 0.67) 19.11%, rgba(255, 255, 255, 0.18) 165.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.show-maps{
    width: 74px;
    height: 54px;
    position: fixed;
    top: 100px;
    left: calc(100vw - 16px - 74px);
}

.subcategories{
    width: 100vw;
    height: 180px;
    position: fixed;
    top: 180px;
    left:0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    background-color: #fff;
}
.subcategories::-webkit-scrollbar{
    display: none;
}

.subcategory-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 15px;
}
.subcategory-container:nth-of-type(1){
    margin-left: 25px;
}

.subcategory-image{
    width: 80px;
    height: 80px;
    margin-left: 5px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 3px 0px rgb(196, 89, 129);
    -moz-box-shadow: 0px 0px 3px 0px rgba(196, 89, 129);
    box-shadow: 0px 0px 3px 0px rgba(196, 89, 129);
}

.border-section{
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(179, 18, 76, 0.67) 19.11%, rgba(255, 255, 255, 0.18) 165.67%);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.category-header > svg{
    width: 100vw;
    position: fixed;
    top: -10px;
    left:0;
}
.subcategory-name{
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.activities-container{
    position: absolute;
    top: 335px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    z-index: -1;
    margin-top: 20px;
}

.activity{
    width: 340px;
    height: 300px;
    border: 1px solid transparent;
    border-radius: 10px;
    position: relative;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(153, 153, 153, 0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(153, 153, 153, 0.75);
    box-shadow: 0px 0px 5px 1px rgba(153, 153, 153, 0.75);
}
.activity:nth-of-type(1){
    margin-top: 20px;
}

.activity:last-of-type{
    margin-bottom: 100px;
}

.activity-header{
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.activity-location{
    position: absolute;
    top: 35px;
    left: 15px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    opacity: 0.5;
}

.activity-photo{
    position: absolute;
    top: 67px;
    width: 90%;
    height:60%;
}
.activity-photo > img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.activity{
    display: flex;
    justify-content: center;
}

.activity-buttons{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.reservation{
    width: 121px;
    height: 34px;
    background-color: rgba(179, 18, 76, 0.67);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.go-location{
    width: 149px;
    height: 34px;
    background-color: rgba(179, 18, 76, 0.67);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Poppins', sans-serif;

}
.switch {
    position: absolute;
    top: 30px;
    display: inline-block;
    width: 40px;
    height: 20px;
    z-index: 5;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #CC6086;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #CC6086;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  #alchol-switch{
    position: absolute;
    top: 100px;
    left: 25px;
    width: 74px;
    height: 54px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 6;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #fff;
    font-weight: 400;
    background-color:white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(204,96,134,1);
    -moz-box-shadow: 0px 0px 2px 0px rgba(204,96,134,1);
    box-shadow: 0px 0px 2px 0px rgba(204,96,134,1);
  }
#alcoholText{
    position: relative;
    width: 50px;
    height: 20px;
    top: -10px;
    text-align: center;
    /* koyu */

background: linear-gradient(180deg, rgba(179, 18, 76, 0.67) 19.11%, rgba(255, 255, 255, 0.18) 165.67%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}


.no-activity{
    margin-top: 50px;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #CC6086;
}

#subcategory{
    animation-name:subCategorySlideEffect;
    animation-duration: 2s;
}
@keyframes subCategorySlideEffect {
    0%   {left:0px;}
    50%  {left:50px;}
    100% {left:0px;}
  }


