@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');

/*
font-family: 'Poppins', sans-serif;
*/

.email-verification-container{
    height: auto;
    width: 100vw;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.email-verification-background{
    position: absolute;
    width: 100vw;
    height: 900px;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
}
.email-verification-background > svg{
    margin-top: 37px;
}

.email-verification-tablet{
    position: relative;
    z-index: 2;
    top: 150px;
}
.email-process{
    width: 100vw;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 3;
    top: 150px;

}
.email-big-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: #FFFFFF;
}

.email-small-title{
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;   
    color: #FFFFFF;
}


.form-input-enter-code{
    width: 80vw;
    height: 12vw;
    border-radius: 50px;
    background-color: #fff;
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
}

.email-verification-send{
    width: 80vw;
    height: 12vw;
    border-radius: 50px;
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    background: linear-gradient(180deg, rgba(179, 18, 76, 0.67) 100%, rgba(255, 255, 255, 0.18) 165.67%);
}

#verification-code-input{
    position: relative;
    width: calc(100vw - 100px);
    height: 55px;
    z-index: 2;
    top: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;

}
#verification-code-input > input{
    text-align: center;
    border: none;
    outline: none;
    
}
#verification-code-input > input::placeholder{
    text-align: center;
}
.send-again{
    position: relative;
    z-index: 2;
    top: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}


