@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');

/*
font-family: 'Poppins', sans-serif;
*/

.paymentPage-container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigate("/home"){
    width: 100vw;
    height: 90px;
    background-image: url(../assets/images/payment_header_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment-back-button-div{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 25px;
    left: 30px;
}
.navigate("/home")-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #FFFFFF;
}

.paymentPage-iyzico{
    width: 100vw;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #E5E5E5;
}
.paymentPage-iyzico > img{
   /* height: 100%; */
}
.paymentPage-total-price{
    position: relative;
    top: 20px;
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 25px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #2C2E39;
}
.paymentPage-price{
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 25px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 52px;
    color: #B3124C;
}
.paymentPage-payment-method{
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 25px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}
.paymentPage-payment-ways{
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    padding-left: 25px;
    align-items: center;
    gap: 10px;
    
}
.paymentPage-way{
    width: 150px;
    height: 47px;
    border-radius: 15px;
    background-color: rgba(255, 143, 185, 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}
.discount-alert-container{
    width: 80vw;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
}

.payment-discount-icon{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
.discount-alert-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #95969C;
}

.payment-continue-button{
    width: 60vw;
    height: 50px;
    margin-top: 30px;
    border-radius: 35px;
    background-color: rgba(255, 143, 185, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.payment-previous-price-container{
    display: flex;
    align-items: center;
}

.payment-previous-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2C2E39;
}

.payment-previous-price{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #B3124C;
    margin-left: 10px;
}